html, mainbody{
  background: skyblue;
  margin: 0 0;
  padding: 0 0;
}

.container{
	background-color: transparent;
	margin: 110px auto;
	width: 500px;
	height: 450px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid black;
}
.heading{
	color: black;
}
.toDo{
    background-color: transparent;
}
input[type="text"]{
	font-size: 20px;
	color: #FFF;
	width: 350px;
}

.button{
	cursor:pointer;
	height: 30px;
    width: 75px;
}


ul {
	height: 350px;
	margin: 0;
    padding: 0;
    list-style-type: none; 
}

ul li{
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	line-height: 1.5rem;
	padding-left: 40px;
	text-align: left; 
}


ul li:hover{
	background-color: #ddd;
}

ul li.checked{
	 background: #888;
  text-decoration: line-through;

}

